/* GENERAL USE */

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0
  
#main_container
  width: 900px
  margin: 0 auto
  
#container
  border: 1px solid #000
  margin: 30px 0 30px 10px
  &.alert
    font-size: 18px
    font-family: helvetica
    text-align: center
    padding: 5px
    background-color: #eee
    &.interactions
      border: 3px solid #F00
    &.allergies
      border: 3px solid #0F0

ul.nostyle
  list-style: none
  &.nomargin
    margin: 0px
    padding: 0px
    &.inline
      li
        display: inline

table
  border: 1px solid #000
  td,th
    border: 1px solid #000
  td
    text-align: center

/* FORMS */

#form_left
  float: left

#form_right
  float: left
  margin-left: 20px
