/* GENERAL USE */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* FORMS */
#form_left {
  float: left; }

#form_right {
  float: left;
  margin-left: 20px; }

/* STYLES FOR PATIENT INFORMATION */
#patient_info_container {
  border: 1px solid black;
  margin: 30px 0 30px 10px; }

ul.patient_info {
  list-style: none;
  margin: 0px;
  padding: 0px; }

ul.nostyle {
  list-style: none; }

ul.patient_partial {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  ul.patient_partial li {
    display: inline; }

/* STYLES FOR PATIENT ALLERGIES */
#patient_allergies {
  border: 1px solid black;
  margin: 30px 0 30px 10px; }
  #patient_allergies table {
    border: 1px solid black; }
    #patient_allergies table td, #patient_allergies table th {
      border: 1px solid black; }
    #patient_allergies table td {
      text-align: center; }

/* STYLES FOR PATIENT MEDICATIONS */
#patient_medications_container {
  border: 1px solid black;
  margin: 30px 0 30px 10px; }
  #patient_medications_container table {
    border: 1px solid black; }
    #patient_medications_container table td, #patient_medications_container table th {
      border: 1px solid black; }
    #patient_medications_container table td {
      text-align: center; }
