/* GENERAL USE */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

#main_container {
  width: 900px;
  margin: 0 auto; }

#container {
  border: 1px solid black;
  margin: 30px 0 30px 10px; }
  #container.alert {
    font-size: 18px;
    font-family: helvetica;
    text-align: center;
    padding: 5px;
    background-color: #eeeeee; }
    #container.alert.interactions {
      border: 3px solid red; }
    #container.alert.allergies {
      border: 3px solid lime; }

ul.nostyle {
  list-style: none; }
  ul.nostyle.nomargin {
    margin: 0px;
    padding: 0px; }
    ul.nostyle.nomargin.inline li {
      display: inline; }

table {
  border: 1px solid black; }
  table td, table th {
    border: 1px solid black; }
  table td {
    text-align: center; }

/* FORMS */
#form_left {
  float: left; }

#form_right {
  float: left;
  margin-left: 20px; }

/* FLASH MESSAGES */
#flash_inner {
  text-align: center;
  position: relative;
  margin: 10 auto;
  color: red; }
