%h3
  %p
    = link_to "Patient Index", patients_path
    %br
    = link_to "Drug Index", drugs_path
    
%p
  Welcome to the medication management test application.  Please view the readme, accessable at 
  %a{:href => "https://github.com/mdms-scott/medmanage"} https://github.com/mdms-scott/medmanage, 
  for more information and the source code.